@import url('https://fonts.googleapis.com/css?family=Rajdhani:500');
@font-face {
  font-family: 'socialico';
  src: url('fonts/Socialico.eot'); /* IE9 Compat Modes */
  src: url('fonts/Socialico.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Socialico.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/Socialico.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/Socialico.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Socialico.svg#Socialico') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Century Gothic';
    src: url('fonts/CenturyGothic-Italic.eot');
    src: url('fonts/CenturyGothic-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/CenturyGothic-Italic.woff2') format('woff2'),
        url('fonts/CenturyGothic-Italic.woff') format('woff'),
        url('fonts/CenturyGothic-Italic.ttf') format('truetype'),
        url('fonts/CenturyGothic-Italic.svg#CenturyGothic-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}


.suspension-contain {max-height: 980px;overflow:hidden;position: relative;}
html.suspended {background: rgba(0,0,0,0.6);}
body {max-width: 100%;min-width: 1700px;margin: 0 auto;text-align: center;font-family: 'Century Gothic'; background: #EAF4FF;}
a {color:inherit;text-decoration: none}
a:hover {text-decoration: none;color:inherit;}
h1,h2,h3,h4,h5{ padding:0; margin:0; }
.row {max-width: 1700px;margin: 0 auto}

/*floats*/
.fl {float:left;}
.fr {float:right;}

/*typography*/
.text-primary{ color: #B11414; }
.text-bold{ font-weight: 700; }
.text-uppercase{ text-transform: uppercase }
.text-center{ text-align: center !important; }
.text-left{ text-align: left; }

/*button*/
.btn {font-size: 15px; font-weight: 400; color: #000; display: inline-block; padding: 10px 30px; background: #fff; border: 1px solid transparent; transition: all 0.5s ease;}
.btn:hover {background: #ddd; border-color: #ddd; color: #ddd; color: #fff;}

/*clearings*/
.clear{ clear:both;}
.clearfix:after {content:"."; display:block; height:0; clear:both;visibility:hidden;font-size: 0;}
.clearfix {display:block;}

/*contact form messages*/
form .messages p {display: none;font-family: Arial !important;font-weight: 400 !important;letter-spacing: 0 !important;font-size: 16px !important;}
form .loading {display: none;}
form .alert {padding: 15px;margin-bottom: 20px;border: 1px solid transparent;border-radius: 4px;}
form .alert-success {color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;}
form .alert-danger {color: #a94442;background-color: #f2dede;border-color: #ebccd1;}
form [type="submit"] {margin:20px auto}

/*contact form*/
.ctc-form {margin: 0 auto;text-align: center;}
.ctc-form input[type="text"],.ctc-form textarea {font-family:Arial;font-size: 16px;color:#000;height:45px;display: block;width: 100%;border:1px solid #ddd;border-radius: 3px;padding: 5px 10px;box-sizing: border-box;margin: 0 auto 8px}
.ctc-form textarea {height: 120px;padding-top:10px;}
.ctc-form button {display: block;}
.ctc-form .recap {display: inline-block;}
.ctc-form .g-recaptcha div {margin: 0 auto 10px;}
.ctc-form .ctc-hide {display: none;}

/*gallery*/
#content .gallery-container {text-align: center;}
#content .gallery {list-style-type: none;margin: 0;padding: 0;}
#content .gallery li {display: inline-block;}
#content .thumbnail {background-color: #fff;border: 1px solid #ddd;border-radius: 4px;display: block;line-height: 1.42857; margin-bottom: 20px;padding: 4px;transition: border 0.2s ease-in-out 0s;}
#content .page_navigation {display: inline-block;}
#content .page_link,#content .previous_link,#content .next_link,#content  .first_link,#content  .last_link, #content .ellipse {background-color: #fff;border: 1px solid #ddd;color:  #0275d8;display: inline-block;line-height: 1.25;margin-left: -1px;padding: 0.5rem 0.75rem;position: relative;}
#content .page_navigation > a:hover , .page_navigation > a.active_page {background-color: #eceeef;border-color: #ddd;color: #014c8c;text-decoration: none;}

h1 {font-weight: 400;font-size: 76px; color: #01548E;}
/*header*/
#header {position: relative;width: 100%; font-family: 'Century Gothic'; font-weight: 700; z-index: 1;}
#header nav a#pull {display: none}
#header nav ul {margin: 0;font-family: 'Century Gothic'; font-weight: 400; color: #fff;}
#header nav ul li:last-of-type {text-align: right}
#header nav ul li {display: inline-block;vertical-align: middle; min-width: 130px;}
#header nav ul li a {}
#header nav ul li.active-menu a, #header nav ul li a:hover {color: #69CEFA; font-weight: 700;}
#header .navRight-top {text-align: right;}
#header .navRight-top img {width: 23px;}
#header .navRight-top p {display: inline-block; position: relative; color: #fff; font-family: 'Century Gothic'; font-size: 32px;}
#header .navRight-top p span {padding:0 0 0 10px;}

/*banner*/
#banner {position: relative; background: url("../images/common/banner-bg.jpg") center center no-repeat; background-size: cover; padding: 225px 0 390px;margin-top: -181px;}
#banner .bannerCont {max-width: 780px;}
#banner .bannerCont img {display: block; vertical-align: bottom; width: 695px;margin:0 0 80px}
#banner .bannerCont h2 {font-size: 67px; font-weight: 700; color: #fff;}
#banner .bannerCont h2 span {display: block;}

/*content*/
#content {background: url(../images/content/bg1.png)no-repeat center top; background-size: cover;}
#content .row{position: relative;max-width: 1900px}
#content .cont-left, #content .contImage{display: inline-block;vertical-align: top;}
#content .cont-left{text-align: left;width: 40%;padding: 0 0 0 165px;}
#content .contImage{text-align: right;width: 50%;margin-bottom: -6px;}
#content .contImage img{max-width: 953px; width: 100%;}
#content .cont-left .button, #content .cont-left .call{display: inline-block; vertical-align: top;margin-top: 50px;}
#content .cont-left .button{width:53%}
#content .cont-left .call{width: 30%;}
#content .cont-left p.welcome {margin-bottom: 0;;font-size: 41px; color: #868484;}
#content .cont-left h1 {font-size: 76px; color: #01548E;}
#content .cont-left h1 span {display: block; font-size: 45px; font-weight: 700; color: #1070AC;}
#content .cont-left p {font-size: 16px; font-weight: 500; color: #000; line-height: 25px;max-width: 610px; }
#content .cont-left a[href*="about"] {display: inline-block; background: #265BAD; padding: 20px 45px; border-radius: 10px; font-size: 15px; font-weight: 700; color: #fff;}
#content .cont-left p.callus {margin: -10px 0 0; font-size: 15px; font-weight: 700; color: #999999;}
#content .cont-left p.callus span {display: block; font-size: 28px; color: #2659AA;}

/*services*/
#services {padding: 65px 0; background: url("../images/common/services-bg.png") center center no-repeat; background-size: cover;}
#services h2 {text-align: left; margin: 0px 0 45px 155px; font-size: 65px; font-weight: 700; color: #265BAD;}
#services dl, dd, dt {margin: 0;}
#services dl:first-of-type {margin: 0 10px 0 0;}
#services dl:last-of-type {margin: 0 0 0 10px;}
#services dl {display: inline-block; max-width: 400px; min-height: 780px; vertical-align: top; background: #0D3A86; color: #fff; overflow: hidden; margin: 0 10px 0;}
#services dl:hover {background: #1250B5;}
#services dt img {width: 100%; display: block;}
#services dd {padding: 30px;}
#services dd h3 {font-size: 25px; font-weight: 700; margin: 0 0 25px;}
#services dd p {font-size: 17px; font-weight: 400; line-height: 25px;letter-spacing: 1px}

/* testimonials */
#testimonials {background: url("../images/common/testimonials-bg-person.png") left center no-repeat, url("../images/common/testimonials-bg.png"); background-size: cover, cover; padding: 55px 0 45px;}
#testimonials .test-right {max-width: 780px; text-align: left; color: #fff;margin-left: 993px;}
#testimonials .test-right h2 {font-size: 65px; font-weight: 700; margin: 0 0 40px;}
#testimonials .test-right h3 {font-size: 22px; font-weight: 700; margin: 0 0 30px;}
#testimonials .test-right p {font-size: 17px; font-weight: 400; font-style: italic; line-height: 25px; margin: 0 0 30px;}
#testimonials .test-right a {display: inline-block; padding: 20px 40px; font-size: 15px; font-weight: 700; border: 1px solid #fff; border-radius: 10px;}

/* contact */
#contact .row {max-width: 1200px;}
#contact {padding: 80px 0; background: url("../images/common/contact-bg.jpg") center center no-repeat; background-size: cover; color: #fff !important; overflow: hidden;}
#contact h2 {font-size: 65px; font-weight: 700; margin: 0 0 65px;}
#contact .ctc-form {text-align: left;}
#contact .ctc-form input[type="text"] {max-width: 390px; display: inline-block; margin: 0 5px 15px;}
#contact .ctc-form input[name="name"] {margin: 0 5px 0 0;}
#contact .ctc-form input[name="email"] {margin: 0 0 0 5px;}
#contact .ctc-form input[type="text"], #contact .ctc-form textarea {background: rgba(255, 255, 255, 0.7); border: 0; border-radius: 0; font-family: 'Rajdhani', sans-serif;;}
#contact .ctc-form input[type="text"]::placeholder, #contact .ctc-form textarea::placeholder {font-size: 20px; font-weight: 500; color: #fff;}
#contact .ctc-form textarea {resize: none; max-width: 1200px;}
#contact .ctc-form button {background: #1250B5; margin: 0 auto; padding: 20px 50px; border: 0; border-radius: 10px; font-family: 'Century Gothic'; font-size: 18px; font-weight: 700; color: #fff;}
#contact .ctc-form button:hover {background: #1962d8; cursor: pointer;}
#contact .ctc-form .g-recaptcha {margin: -20px -5px 0px 0px;}

/*footer*/
#footer {background: url("../images/common/footer-bg.jpg") top center no-repeat; background-size: cover; padding: 60px 0; color: #fff;}
#footer .silver img {display: inline-block;vertical-align: middle;max-width: 50px}


/* top-footer */
#footer .navTop {padding: 40px 0;}
#footer .navTop .cols:first-of-type, #footer .navBot .cols:first-of-type {margin: 0 45px 0 0px;}
#footer .navTop .cols:last-of-type, #footer .navBot .cols:last-of-type {margin: 0 0 0px 45px ;}
#footer .navTop .cols, #footer .navBot .cols {display: inline-block; vertical-align: top; margin: 0 45px;}
#footer .navTop .col-1 h2 {margin: 0 0 35px; font-size: 26px; font-weight: 700;}
#footer .navTop .col-2, #footer .navTop .col-3 {text-align: left;}
#footer .navTop .col-2 {max-width: 250px;}
#footer .navTop .col-2 p {font-size: 20px; font-weight: 400; margin: 0 0 60px;}
#footer .navTop .col-2 p:nth-child(1) span {font-size: 30px;}
#footer .navTop .col-2 p span {display: block;}
#footer .navTop .col-3 h3 {margin: 0 0 30px;}
#footer .navTop .col-3 ul {list-style-type: none; margin: 0; padding: 0; line-height: 2.5;}
#footer .navTop .col-3 ul li span {display: inline-block; min-width: 110px;}

/* bot-footer */
#footer .navBot {border-top: 1px solid #26C9FF; padding: 25px 0;}
#footer .navBot .col-1 p, #footer .navBot .col-3 p:nth-child(1) {font-size: 14px; font-weight: 700; margin: 0 0 10px;}
#footer .navBot .col-2 ul {list-style-type: none; margin: 0 0 30px; padding: 0;}
#footer .navBot .col-2 ul li {display: inline-block; min-width: 125px; font-size: 14px;}
#footer .navBot .col-2 ul li.active-menu a, #footer .navBot .col-2 ul li a:hover {font-size: 15px; font-weight: 700;}
#footer .navBot .col-3 .socFooter a {font-family: 'socialico'; font-size: 42px; font-weight: 400;}
#footer .navTop .col-4 iframe{width: 441px; height: 315px;}
/*inner pages*/
.inner #content {min-height: 400px;padding: 0 0; text-align: left;}
.inner #content h1{font-size: 40px;font-weight: 700; border-bottom: 1px solid #01548E;}
.inner #content h2{color: #2d26ff;font-weight: 700;margin: 20px 0;}
.inner #content .column{background: linear-gradient(#1f295a  10%,#000000 150%); color: #fff;padding: 50px 80px;}
.inner #content .column .left,.inner #content .column .right{display: inline-block;vertical-align: middle;}
.inner #content .column .left{width: 60%;}
.inner #content .column .right{width: 39%;text-align: center;}
.inner #content .column .right .trt{margin-top:50px; margin-bottom: 50px;}
.inner #content .column ul{text-align: left;}
.inner #content .row{max-width: 1700px; margin: 0 auto;}
.inner #content .trt th, .inner #content .trt td{padding: 5px; border-right: #2d26ff 1px solid;border-bottom: #2d26ff 1px solid;}
.inner #content .trt {border-collapse: collapse;border-top: #2d26ff 1px solid;border-left: #2d26ff 1px solid;max-width: 464px;width: 100%;margin: 0 auto;}
.inPrivacyBox {max-width: 850px; margin: 0 auto;}
.inPrivacyBox p {text-align: justify!important;}

/* Responsive */
@media only screen and (max-width: 1024px) {
  body{min-width: 320px}
  .row{max-width: 95%}
  #header{padding: 0;}
  #header .row{max-width: 100%}
	#header nav ul {width: 100%; display: none; height: auto; padding: 0; margin: 0;}
	#header nav li {width: 100% !important; position: relative; display: block !important; background: rgba(100, 100, 100, 0.9); padding: 0 !important; margin: 0 !important; border-bottom: 1px solid rgba(0, 0, 0, .8); height: 40px; line-height: 40px;}
	#header nav li a {display: block; text-align: left; color: #FFFFFF !important; text-indent: 10px; padding: 0;}
	#header nav a#pull {display: block !important;	background: linear-gradient(#0d4d85, #0f0487); line-height: 40px; text-align: left; text-indent: 10px; color: #FFFFFF; text-decoration: none;}
	#header nav a#pull:after {content:""; background: url('../images/nav-icon.png') no-repeat; width: 30px; height: 30px;display: inline-block; right: 15px;top: 10px; position: absolute;}
	#header nav ul li.active-menu a, header nav ul li:hover a {background: rgba(100, 100, 100, 0.9);}
  #header .navRight-top img {width: 23px;}
  #header .navContainer{float: none;}
  #header .navRight-top p {position: absolute; margin-top: 40px;right: 0;}
  #header .navRight-top p span {padding:0}

  #banner{margin-top: 0;padding: 100px 0 50px;}
  #banner .bannerCont img {width: 100%;}
  #banner .bannerCont h2{font-size:6.54296875vw; }

  #content .cont-left{margin: 0;}
  #content .cont-left, #content .contImage{display: block;width: 100%;text-align: center;}
  #content .cont-left {margin: 0;;padding: 50px 0;}
  #content .contImage img{max-width: 834px; width: 100%;}
  #content .cont-left .button, #content .cont-left .call {display: block;text-align: center;width: 100%;}
  #content .cont-left p{margin: 0 auto !important;}
  #content .cont-left h1 {font-size: 66px;}
  #content .cont-left h1 span{font-size: 35px}
  #content .cont-left a[href*="about"]{width: 80%;padding: 20px 0;}
  #services {text-align: center;}
  #services h2 {margin: 0 auto;text-align: center;}
  #services dt img{max-width: 100%; width: 100%;margin: 0 auto;}
  #testimonials .test-right {margin: 0;}
  #testimonials {background: none, url(../images/common/testimonials-bg.png);padding: 50px 0;}
  #testimonials .test-right {text-align: center;}
  #testimonials .test-right h2{font-size: 45px}
  #testimonials .test-right a {padding: 20px 0; width: 80%;}

  #services dl{width: 100%;margin: 0;min-height: 780px}
  #services dl:first-of-type {margin: 0;}
  #services dl:last-of-type {margin: 0;}

  #contact .ctc-form input[type="text"], #contact .ctc-form textarea {display: block;width: 100%;margin: 0 auto;margin: 10px auto;max-width: 90%;}
  #contact .ctc-form .g-recaptcha{margin: 0 auto; float: none;}
  #contact .ctc-form{text-align: center;}
  #contact .ctc-form button {padding: 20px 0; width: 80%;}

  #footer .col-4 img{max-width: 441; width: 100%;margin: 0 auto;}
  #footer .navTop .col-1 img{max-width: 377px; width: 100%;}
  #footer .navTop .cols:first-of-type, #footer .navBot .cols:first-of-type {margin: 0 auto;}
  #footer .navTop .cols:last-of-type, #footer .navBot .cols:last-of-type {margin: 0;}
  #footer .navBot .col-2 ul li{display: block; margin: 10px 0;}
  #footer .navTop .col-4 iframe{width: 84vw; height: 315px;}

  .inner #content .column .left,.inner #content .column .right{display: block; width: 100%;}
  .inner #content .column {padding: 50px 20px;}
  .inner #content .column img{max-width: 100%; width: 100%;}
}
